.head-h {
  display: flex;
  height: 100vh;
  margin-top: 2%;
}

.left-l {
  height: 100vh;
  flex: 60%;
}

.right-r {
  height: 70vh;
  flex: 30%;
  float: right;
}

.slider-container {
  width: 90%;
  margin: auto;
  margin-top: 7%;
  height: 70%;
}

.datePicker {
  margin-left: 100px;
  border: 5px solid black;
}

.feature {
  font-size: 20px;
  margin-top: 10%;
}

.right-rr {
  width: 70%;
  margin-top: 15%;
}

.content1 {
  width: 80%;
  font-size: 20px;
}

.feature-main {
  display: flex;
  width: 40%;
  margin-left: 15%;
  margin-top: 1%;
}

.feature-1 {
  flex: 20%;
}

.feature-2 {
  flex: 20%;
}

.host {
  margin-top: 6%;
}

.myRatingPanel {
  margin-top: 4%;
  margin-left: 10%;
}

.Catalog {
  margin-left: 10%;
  margin-top: 4%;
}

@media (max-width: 800px) {
  .feature-main {
    flex: 100%;
    width: 100%;
  }

  .feature-1 {
    /* flex: 50%; */
  }

  .feature-2 {
    /* flex: 50%; */
    float: right;

  }

  .head-h {
    flex-direction: column;
  }

  .right-rr {
    width: 100%;
    margin-top: -30%;
    margin-left: 10%;

  }

  .right-r {
    margin-left: 10%;
  }

  .Description {
    margin-top: 90vh;
  }

  .content1 {
    width: 90%;
    font-size: 18px;
  }

  .host {
    margin-top: 8%;
  }

  .myRatingPanel {
    margin-top: 12%;
    margin-left: 10%;
  }

  .Catalog {
    margin-top: 8%;
  }

}