body {
  padding: 0px;
  margin: 0px;
}
.head2{
  font-size: 32px;
  margin-left: 6%;
  margin-top: 6%;
  font-family: Inter;
}
.con{
  font-size: 32px;
  margin-left: 6%;
  margin-top: 3%;
  font-family:Inter;
}
.subsec{
  font-size: 32px;
  margin-left: 6%;
  margin-top: 3%;
  font-family:Inter;
}
.con1{
  font-size: 18px;
  font-family:Inter;
  margin-left: 6%;
  margin-top: 1%;
  opacity: .7;
  width: 70%;
}
.rightcon{
  font-size: 18px;
  font-family:Inter;
  margin-top: 1%;
  opacity:.7;
  margin: auto;
  width:80%;
}
.secondsubsec{
  font-size: 18px;
  font-family:Inter;
  margin-left: 6%;
  margin-top: 2%;
  opacity: .8;
  width: 80%;
}
.righthh{
  font-size: 32px;
}
.header {
  height: 90vh;
  width: 100%;
  /* background-color:black; */
  background: url("../components/Images/cardImages/7.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;

}
.rightimgdesign{
flex:35%;
}
.FeatureCatalog{
  margin-top: 30px;
  margin-bottom: 30px;
}

.datePicker2 {
  border-radius: 50px;
  margin: auto;
  color: black;
  height: 7%;
  width: 360px;
  background-color: white;
  bottom: 0;
  box-shadow: rgb(218,165,32, .3) 2px 5px 5px 2px;
  border: 0px;
  float: bottom;
  margin-top: 16vh;
  opacity: 1;

}

.header1 {
  height: 90vh;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 0;
  opacity: .7;
}

.left21 {
  height: 100vh;
  width: 60%;
  position: absolute;
  z-index: 1;
}

.right {
  height: 100vh;
  width: 30%;
}

.rightImg {

  height: 60%;
  width: 76%;
  margin: auto;
  /* background: url(./Images/cardImages/5.jpg); */
  background-size: cover;
  margin-top: 10%;
  border-radius: 60px 20px;;
  /* box-shadow: rgba(189, 226, 24, 0.2) 30px 50px 50px 30px; */
}

.browse {
  background-image: url('../components/Images/cardImages/20.jpg');
  border-radius:60px 200px 100px 20px;
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8%;
  box-shadow: rgb(218,165,32, .4) 6px 0px 0px 6px;
  height: 70%;
  width: 80%;
}

.browse2 {
  background-image: url('../components/Images/cardImages/14.jpg');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 8%;
  box-shadow: rgb(218,165,32, .4) 0px 10px 10px 10px;
  border-radius:200px 60px 20px 100px;
}


.leftcontent21 {
  margin-left: 7.58%;
  margin-top: 8vh;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  color: black;
  width: 60%;
}
.con3{
  font-size: 18px;
  font-family:Inter;
  margin-left: 6%;
  margin-top: 1%;
  opacity: .7;
  margin: auto;
  width:70%;
}

.smallpara {
  margin-left: 7.58%;
  margin-right: 10%;
  margin-top: 3%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: black;
  opacity: .7;

}

.contactButton {
  width: 230px;
  height: 60px;
}

.righth {
  flex: 40%;
  height: 70vh;
  /* width:80%;  */
  text-align: center;
  margin-top: 15vh;
}

.left2 {
  flex: 40%;
  height: 70vh;
  width: 80%;
  text-align: center;
  margin-top: 15vh;
}
.belowHeading{
  margin-top: 5%;
  text-align: center;
  font-family: 'Inter';
  font-size: 46px;
}
.catalog1{
  margin-top: 10vh;
}
.head3{
  font-Size: 18px;
  font-family:Inter;
  margin-left:6%;
  margin-top: 1%;
  opacity: .7;
  width: 70%;
}

.dateSetting {
  margin-left: 13%;
  margin-top: -3%;
}
@media (max-width: 1000px) {
  .belowHeading{
    margin-top: 10%;
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contactButton{
    height: 50px;
    width: 180px;
  }
  .smallpara{
    font-size: 20px;
  }
}


@media (max-width: 800px) {

  .datePicker2 {
    width: 360px;
  }

  .browse {
    display: none;
  }

  .rightImg {
    display: none;
  }

  .left21 {
    flex: 100%;
  }

  .leftcontent21 {

    font-size: 36px;
  width: 70vw;
  }

  .smallpara {
    font-size: 5vw;
    width: 70%;
  }

  .righth {
    flex: none;
    width: 80%;
    margin-right: 10%;
    /* width: 100%; */
  }

  .browse2 {
    display: none;
  }

  .left2 {
    flex: none;
    /* margin-right :10%; */
    margin-left: 10%;
    width: 80%;
  }

  .dateSetting {
    margin-right: 7%;
    margin-Top: -2%;
  }
}
@media (max-width: 375px) {

  .datePicker2 {
    width: 300px;
  }
  .rightimgdesign{
    display: none;
  }
  .leftcontent21{
    font-size: 32px;
    width: 85%;
  }
  .belowHeading{
    margin-top: 12%;
    text-align: center;
    font-family: 'Inter';
    font-size: 26px;
  }
  .subsec{
    font-size: 26px;
  }
  .secondsubsec{
    font-size: 16px;
  }
  .righthh{
    font-size: 26px;
  }
  .rightcon{
    float: left;
    text-align: left;
    width: 100%;
  }
  .con{
    font-size: 26px;
    margin-left: 6%;
    margin-top: 3%;
    font-family:Inter;
  }
  .con1{
    font-size: 16px;
    font-family:Inter;
    margin-left: 6%;
    margin-top: 1%;
    opacity: .7;
    width: 70%;
  }
  .catalog2{
    margin-top: 50px;
  }
  .con2{
    font-size: 26px;
    font-family: Inter;
    text-align: left;
  }
  .head3{
    font-Size: 16px;
    font-family:Inter;
    margin-left:6%;
    margin-top: 1%;
    opacity: .7;
    width: 70%;
  }
  .head2{
    font-size: 26px;
    margin-left: 6%;
    margin-top: 6%;
    font-family: Inter;
  }
  .con3{
    font-size: 16px;
    font-family:Inter;
    /*margin-top: 1%;*/
    opacity: .7;
    width:90%;
    float: left;
    text-align: left;
  }
  .feature-cat{
    margin-top: 7vh;
  }
}