.main1{
  display: flex;
  height: 70vh;
  width: 100%;
}
.child1{
  flex: 40%;
  margin-top: 5vh;
  margin-left: 10vh;
}
.child2{
  flex: 60%;
}
.child3{
  font-family: Inter;
  width: 70%;
  margin: auto;
  margin-top: 15vh;
  font-size: 46px;
}
.FeautureImg{
  width: 100%;
  height: 80%;
  background-color: #282d32;
  margin: auto;
  border-radius: 80px 160px 100px 40px;
  box-shadow: rgb(218,165,32, .6) 10px 0px 0px 10px;

}

.des{
  opacity:.7;
  color:white;
  width:60%;
  font-weight: 400;
  margin-left: 20%;

}
.feautureCard{
  display: flex;
  height: 60vh;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-top: 4vh;
}
.feautureCardLeft{
  flex: 60%;
  height: 60vh;
}
.feautureCardRight{
  flex: 40%;
  height: 60vh;
}
.feautureCardLeftImg{
  width: 80%;
  height: 50vh;
  margin: auto;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 30px;
}
.feautureCardRight1{
  text-align: center;
  margin-left: -10%;
}

.feautureCardRight{
  text-align: center;
}
.feautureCardRight1{
  width: 60%;
  height: 50vh;
  margin: auto;
  margin-left: 10%;

  /*margin-top: -20%;*/
}
.feautureCardLeftImg1{
  width: 100%;
  height: 40vh;
  margin: auto;
  margin-top: 20%;
  margin-left: -10%;
  border-radius: 30px;
}
.feautureCard1{
  display: flex;
  height: 60vh;
  width: 100%;
  justify-content: center;
  margin: auto;
}

.slider-container1 {
  width: 60%;
  margin: auto;
  height: 50%;
}
.slider-container2{
  width: 60%;
  margin: auto;
  height: 50%;
}